.itemContainer {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    border-bottom: 2px solid var(--black);
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}


.imageContainer {
    /* width: 100%; */
    width: 120px; 
    height: 150px; /* Fixed height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #010101;


}

.itemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 60px;  Max width to match the container */
    /* max-height: 75px; Max height to match the container */
}

.contentAndLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.itemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemName {
    font-size: var(--large-text);
    font-weight: bold;
    margin-bottom: 3px; /* Add a bottom margin */
}

.itemDescription {
    font-size: var(--small-text);
    font-weight: 100;
}

.itemTagContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px; /* Add a top margin */
}

.itemTag {
    display: inline-block;
    align-self: flex-start;
    font-size: var(--small-text);
    background-color: var(--white);
    padding: 2px 4px;
    border: 2px solid #010101;
    margin-right: 5px;
}

.itemLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-text);
    color: #000; 
    background-color: var(--white); 
    padding: 10px;
    border: 2px solid #010101;
    margin-left: 10px; 
    text-decoration: none;
}
