.listContainer {
    /* overflow-y: scroll; */
    /* padding: 0, 20, 0, 0; */
}

.sectionTitle {
    padding: 5px 10px;
    border-bottom: 2px solid var(--black);
    font-size: var(--large-text);
    font-weight: bold;
    background-color: var(--accent-color); /* Add your desired background color */
  }
  
  