.hamburgerIcon {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerIcon div {
    height: 4px;
    background: #000;
}

.menuContainer {
    position: relative;
}

.menu {
    display: flex;
    align-items: flex-end;  /* align items to the right */
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    padding: 20px;
}

.menu a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu.open {
    display: flex;
    width: 60%;
    transform: translateX(0);

}

@media (min-width: 768px) {
    .hamburgerIcon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        transform: none;
        height: 50px;  /* set a specific height for wider screens */
        background-color: transparent;
        align-items: center;  /* reset alignment for wider screens */

        width: auto;
    }

    .menu a {
        color: #000;
        margin-left: 20px;
        font-size: larger;
    }
}