.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    height: var(--navbar-height);
    /* padding-left: 10px;
    padding-right: 10px; */

    border-bottom: 2px solid var(--black);

    background-color: var(--background-color);  /* ensure navbar is not transparent */
    z-index: 10;  /* make navbar appear on top of other content */
  }
  
  .logo {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #000;
  }

/* 
  @media (min-width: 768px) {


    .logo {
        font-size: larger;
    }

    .navbar {
      height: 80px;

    }
} */
  
  