.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--neutral-color);
    z-index: 999;
    border-bottom: 2px solid var(--black);


}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.menuIcon {
    cursor: pointer;
}

.menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visible {
    display: block;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .menuIcon {
        order: 2;
    }

    .menu {
        order: 3;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar ul {
        display: flex;
        gap: 10px;
        /* Adjust the value as needed */
    }

    .visible {
        transform: translateY(0);
    }
}