.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid #010101;
    width: 100%;

  }

  .profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #010101;

  }
  
  .profileName {
    font-size: var(--normal-text);
    text-align: center;
  }
  