:root {
  --background-color: #FFC700;
  --accent-color: #F24E1E;
  --neutral-color: #F2F2F2;
  --complementary-color: #5551FF;
  --white: #FFFFFF;
  --black: #000000;
  --normal-text: 18px;
  --cta-text: 18px;
  --large-text: 24px;
  --largest-text: 24px;
  --small-text: 12px;
  --navbar-height: 45px;
  --listheader-height: 55px;

}
@font-face {
  font-family: 'Whyte';
  src: url('../public/fonts/ABCWhyte-Medium-Trial.woff2') format('woff2'), url('../public/fonts/ABCWhyte-Medium-Trial.woff') format('woff');
  /* font-weight: normal;
  font-style: normal;
  font-display: swap; Adjust based on your preference */
}
html,
body {
  /* padding: 0; */
  background-color: var(--background-color);
  font-family: 'Whyte', sans-serif;
  /* font-weight: normal; */
  font-style: normal;
  letter-spacing: -5.2%;
  margin: 0;
  width: 100%;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

* {
  box-sizing: border-box;
}



